var config = exports;

config.env = {
    DEBUG: false,
};

config.http = {
    host: '192.168.1.1',
    port: 15111,
}

config.mongodb = {
    servers: [ '10.10.11.71:27017',
                '10.10.11.72:27017',
                '10.10.11.73:27017' ],
    repl_set: 'devel-farm1',
    db_name: 'perf',
};

config.rabbitmq = {
    host: '192.168.1.1',
    port: 5672,
    login: 'username',
    password: 'password',
    vhost: '/perf',
};

config.mysql = {
    host: '10.0.11.246',
    port: 3306,
    user: 'liuchang',
    password: 'xxxx',
};

